---
import Layout from "../layouts/Layout.astro";
import gad from "../assets/gad_newyork.jpg";
import roxana from "../assets/roxana.jpg";
import { Image } from "astro:assets";
---

<Layout title="About">
  <!-- Testimonials -->
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <h1 class="text-center font-serif text-5xl font-medium tracking-wider text-gray-800 md:text-6xl">Our Team</h1>
    <!-- Grid -->
    <div class="mt-14 grid sm:mt-20 md:grid-cols-2 md:items-center md:gap-10 lg:gap-16">
      <div class="mb-6 md:mb-0">
        <Image class="rounded-xl" src={gad} alt="Image Description" />
      </div>

      <div>
        <!-- Blockquote -->
        <div class="relative">
          <div class="relative z-10">
            <div class="mb-4">
              <div class="text-3xl font-semibold text-gray-800 sm:text-4xl">Dr. Gad Makar M.D.</div>
              <div class="text-base text-gray-500">Board Certified Child Adolescent & Adult Psychiatrist</div>
            </div>
            <p class="text-lg font-normal text-gray-600 md:text-lg md:leading-relaxed xl:text-lg xl:leading-relaxed">
              Dr. Gad Makar is a dual board-certified psychiatrist, specializing in both Child and Adolescent Psychiatry and Adult Psychiatry. With a wealth of
              experience in Consultation and Liaison for medical illnesses, he boasts a rich clinical and academic background with international medical
              achievements spanning Egypt and the United Kingdom.
            </p>
            <p class="mt-2 text-lg font-normal text-gray-600 md:text-lg md:leading-relaxed xl:text-lg xl:leading-relaxed">
              Passionate about assisting individuals in unlocking their fullest potential and embracing life, Dr. Makar has a keen interest in non-invasive,
              FDA-approved, medication-free treatments. He specializes in TMS therapy (Transcranial Magnetic Stimulation) which effectively alleviates symptoms
              of depression, OCD, and aids in smoking cessation. His primary aim is to guide patients in rediscovering joy and relishing life again. Fluently
              speaking English and Arabic, Dr. Gad Makar is also proficient in medical Spanish.
            </p>
          </div>
        </div>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Testimonials -->
  <!-- Testimonials -->
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-10 lg:gap-16">
      <div class="mb-6 md:mb-0">
        <Image class="aspect-[1/1] rounded-xl" src={roxana} alt="Image Description" />
      </div>

      <div>
        <!-- Blockquote -->
        <div class="relative">
          <div class="relative z-10">
            <div class="mb-4">
              <div class="text-3xl font-semibold text-gray-800 sm:text-4xl">Dr. Roxana Ruizcaro M.D.</div>
              <div class="text-base text-gray-500">Board Certified Adult Psychiatrist</div>
            </div>
            <p class="text-lg font-normal text-gray-600 md:text-lg md:leading-relaxed xl:text-lg xl:leading-relaxed">
              Dr. Ruizcaro is a Board-Certified Psychiatrist, bringing over 25 years of extensive clinical expertise to the treatment of a broad spectrum of
              psychiatric conditions. She has a particular interest in addressing depression, anxiety, PTSD, OCD, and mood disorders. Recognized for her
              profound knowledge, Dr. Ruizcaro stands out for her personable demeanor and keen listening skills. Her deep commitment, coupled with an innate
              sense of humanity, empowers her to truly understand and empathize with the emotional and mental challenges people face, acknowledging the diverse
              life journeys of each individual.
            </p>
            <p class="mt-2 text-lg font-normal text-gray-600 md:text-lg md:leading-relaxed xl:text-lg xl:leading-relaxed">
              Beyond her conventional practice, Dr. Ruizcaro has spent considerable time aiding underserved populations as a Christian missionary doctor
              overseas. In the USA, her focus has been on primarily assisting minority communities. Always open to innovation, she takes a keen interest in
              holistic treatments and TMS-related therapies. Fluent in Spanish and English, Dr. Ruizcaro also has a working knowledge of Portuguese.
            </p>
          </div>
        </div>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Testimonials -->
</Layout>
