---
import SolidCheck from "./SolidCheck.astro";
---

<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20 mx-auto">
  <!-- Title -->
  <div class="mx-auto text-center mb-10 lg:mb-20">
    <p class="mt-1 mb-4 text-gray-600 text-xl leading-relaxed">About our clinic</p>
    <h2 class="text-3xl font-semibold md:text-4xl">Experience the TMS difference at Joyful Mind</h2>
  </div>
  <!-- End Title -->

  <div class="grid sm:grid-cols-2 gap-20 max-w-6xl mx-auto">
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="text-xl sm:text-2xl font-medium mb-2">Non-Invasive Treatment</p>
        <p class="text-lg leading-loose text-gray-500">
          TMS is an FDA-approved, non-invasive treatment for persistent depression and other neurological conditions that do not respond to medication and other
          therapies. TMS is also a completely drug-free method of treating your symptoms of depression and anxiety.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="text-xl sm:text-2xl font-medium mb-2">Specialized Expertise</p>
        <p class="text-lg leading-loose text-gray-500">
          Our physicians are extensively trained in TMS therapy, continuously updating their knowledge with the newest methods and technologies. Rely on us for
          unparalleled quality in care.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="text-xl sm:text-2xl font-medium mb-2">Compassionate Approach</p>
        <p class="text-lg leading-loose text-gray-500">
          At our clinic, we emphasize a patient-focused approach. Recognizing mental health complexities, our dedicated team ensures a compassionate and
          nurturing environment for all.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="text-xl sm:text-2xl font-medium mb-2">Conveniently Located</p>
        <p class="text-lg leading-loose text-gray-500">
          Situated in the heart of Round Rock, our clinic provides easy access for residents in need of TMS treatment. Say goodbye to lengthy commutes and enjoy
          the perks of care close to home.
        </p>
      </div>
    </div>
  </div>

  <!-- End Card Blog -->
</div>
