<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20 mx-auto">
  <!-- Title -->
  <div class="mx-auto text-center mb-10 lg:mb-20">
    <p class="mt-1 mb-4 text-gray-600 text-xl uppercase leading-relaxed">About our clinic</p>
    <h2 class="text-3xl font-semibold md:text-4xl">Experience the TMS difference at Joyful Mind</h2>
  </div>
  <!-- End Title -->

  <div class="grid sm:grid-cols-2 gap-20 max-w-6xl mx-auto">
    <div class="flex items-start gap-4">
      <svg
        class="flex-shrink-0 h-16 w-16 text-green-600 dark:text-green-500"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
          fill="currentColor"
          fill-opacity="0.1"></path>
        <path
          d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
          fill="currentColor"></path>
      </svg>
      <div>
        <p class="text-xl sm:text-2xl font-medium uppercase mb-2">Non-Invasive Treatment</p>
        <p class="text-lg leading-loose text-gray-500">
          TMS is an FDA-approved, non-invasive treatment for persistent depression and other neurological conditions that do not respond to medication and other
          therapies. TMS is also a completely drug-free method of treating your symptoms of depression and anxiety.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <svg
        class="flex-shrink-0 h-16 w-16 text-green-600 dark:text-green-500"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
          fill="currentColor"
          fill-opacity="0.1"></path>
        <path
          d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
          fill="currentColor"></path>
      </svg>
      <div>
        <p class="text-xl sm:text-2xl font-medium uppercase mb-2">Specialized Expertise</p>
        <p class="text-lg leading-loose text-gray-500">
          Our physicians are extensively trained in TMS therapy, continuously updating their knowledge with the newest methods and technologies. Rely on us for
          unparalleled quality in care.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <svg
        class="flex-shrink-0 h-16 w-16 text-green-600 dark:text-green-500"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
          fill="currentColor"
          fill-opacity="0.1"></path>
        <path
          d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
          fill="currentColor"></path>
      </svg>
      <div>
        <p class="text-xl sm:text-2xl font-medium uppercase mb-2">Empathetic Methodology</p>
        <p class="text-lg leading-loose text-gray-500">
          At our clinic, we emphasize a patient-focused approach. Recognizing mental health complexities, our dedicated team ensures a compassionate and
          nurturing environment for all.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <svg
        class="flex-shrink-0 h-16 w-16 text-green-600 dark:text-green-500"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
          fill="currentColor"
          fill-opacity="0.1"></path>
        <path
          d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
          fill="currentColor"></path>
      </svg>
      <div>
        <p class="text-xl sm:text-2xl font-medium uppercase mb-2">Conveniently Located</p>
        <p class="text-lg leading-loose text-gray-500">
          Situated in the heart of Pflugerville, our clinic provides easy access for residents in need of TMS treatment. Say goodbye to lengthy commutes and
          enjoy the perks of care close to home.
        </p>
      </div>
    </div>
  </div>

  <!-- End Card Blog -->
</div>
