---
import SolidCheck from "./SolidCheck.astro";
---

<!-- Card Blog -->
<div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-20">
  <!-- Title -->
  <div class="mx-auto mb-10 text-center lg:mb-20">
    <p class="mb-2 mt-1 text-2xl font-medium text-emerald-600">About our clinic</p>
    <h2 class="text-3xl font-semibold md:text-4xl">Experience the TMS difference at Joyful Mind</h2>
  </div>
  <!-- End Title -->

  <div class="mx-auto grid max-w-7xl gap-14 sm:grid-cols-2">
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="mb-2 text-xl font-medium sm:text-2xl">Non-Invasive Treatment</p>
        <p class="text-lg leading-loose text-gray-600">
          TMS is an FDA-approved, non-invasive treatment for persistent depression and other neurological conditions that do not respond to medication and other
          therapies. TMS is also a completely drug-free method of treating your symptoms of depression and anxiety.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="mb-2 text-xl font-medium sm:text-2xl">Specialized Expertise</p>
        <p class="text-lg leading-loose text-gray-600">
          Our physicians are extensively trained in TMS therapy, continuously updating their knowledge with the newest methods and technologies. Rely on us for
          unparalleled quality in care.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="mb-2 text-xl font-medium sm:text-2xl">Compassionate Approach</p>
        <p class="text-lg leading-loose text-gray-600">
          At our clinic, we emphasize a patient-focused approach. Recognizing mental health complexities, our dedicated team ensures a compassionate and
          nurturing environment for all.
        </p>
      </div>
    </div>
    <div class="flex items-start gap-4">
      <SolidCheck size="large" />
      <div>
        <p class="mb-2 text-xl font-medium sm:text-2xl">Conveniently Located</p>
        <p class="text-lg leading-loose text-gray-500">
          Situated in the heart of Round Rock, our clinic provides easy access for residents in need of TMS treatment. Say goodbye to lengthy commutes and enjoy
          the perks of care close to home.
        </p>
      </div>
    </div>
  </div>

  <!-- End Card Blog -->
</div>
