<!-- Announcement Banner -->
<div class="bg-opacity-98 bg-emerald-600 backdrop-blur-lg backdrop-filter">
  <div class="mx-auto max-w-[85rem] px-4 py-3 lg:px-8">
    <!-- Grid -->
    <div class="flex justify-center sm:justify-end">
      <!-- End Col -->

      <div class="text-center md:flex md:items-center md:justify-end md:text-left">
        <p class="mr-1 inline-block text-base font-semibold text-white">Call Us At:</p>

        <a href="tel:7373400928" class="inline-block text-base font-semibold text-white">(737) 340-0928</a>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End Announcement Banner -->
