---
interface Props {
  title: string;
}

const title = Astro.props.title;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index/xml" />

<title>{title}</title>
<meta name="description" content="Depression disconnects you from life. TMS Therapy from Joyful Mind TMS reconnects you. Office in Round Rock Texas." />
<link rel="canonical" href="https://joyfulmindtms.com/" />

<!-- Open Graph Tags -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="TMS Therapy | Joyful Mind TMS - Round Rock, Texas" />
<meta property="og:description" content="Depression disconnects you from life. TMS Therapy from Joyful Mind TMS reconnects you. Office in Round Rock Texas." />
<meta property="og:url" content="https://joyfulmindtms.com/" />
<meta property="og:site_name" content="Joyful Mind" />
<meta property="og:image" content="" />
