<div class="relative mx-auto bg-gray-600 px-6 py-10 text-center text-white lg:py-16">
  <h2 class="text-3xl font-semibold sm:text-4xl">Ready to get started?</h2>
  <p class="mt-4 text-lg">Discover how Joyful Mind TMS can benefit you or someone you care about.</p>
  <a
    class="mt-6 inline-flex items-center justify-center gap-x-3 rounded-full border-2 border-white px-6 py-2 text-center text-base font-medium text-white transition hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-white lg:text-lg"
    href="/contact"
  >
    Get Started
  </a>
</div>
