---
import { Image } from "astro:assets";
import heroImage from "../assets/HeroImage.png";
import aetna from "../assets/Logo-Aetna.svg";
import cross from "../assets/Logo-BCBS.svg";
import cigna from "../assets/Logo-Cigna.svg";
---

<!-- Hero -->
<div class="relative z-10 max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-10 pb-20 lg:py-24">
  <!-- End Gradients -->
  <!-- Grid -->
  <div class="grid md:grid-cols-2 gap-4 md:gap-8 xl:gap-20 md:items-center">
    <div>
      <h1 class="block text-3xl font-semibold text-gray-800 sm:text-4xl lg:text-7xl lg:leading-tight">
        Your Health is our <span class="text-green-600">Priority</span>
      </h1>
      <p class="mt-3 text-base sm:text-xl text-gray-500 leading-loose">
        At our clinic in Pflugerville, we offer advanced TMS therapy by expert professionals. We prioritize personalized, compassionate care for improved mental
        well-being. Discover the potential of TMS therapy today!
      </p>

      <!-- Buttons -->
      <div class="mt-7 grid gap-3 w-full sm:inline-flex">
        <a
          class="inline-flex justify-center items-center gap-x-3 text-center bg-green-600 hover:bg-green-700 border border-transparent text-base lg:text-lg text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4"
          href="#"
        >
          Free Consultation
          <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path
              d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </a>
        <a
          class="inline-flex justify-center items-center gap-x-3.5 text-base lg:text-lg text-center border hover:border-gray-300 shadow-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 text-gray-500"
          href="/contact"
        >
          Contact Us
        </a>
      </div>
      <!-- End Buttons -->
      <!-- Clients -->
      <div class="max-w-[85rem] py-10 lg:py-14 mx-auto">
        <!-- Title -->

        <!-- End Title -->

        <div class="flex gap-x-6 sm:gap-x-12 lg:gap-x-20">
          <Image src={aetna} alt="logo" class="py-3 lg:py-5 h-auto w-20 lg:w-24 mx-auto sm:mx-0 text-gray-500" />
          <Image src={cross} alt="logo" class="py-3 lg:py-5 h-auto w-20 lg:w-24 mx-auto sm:mx-0 text-gray-500" />
          <Image src={cigna} alt="logo" class="py-3 lg:py-5 h-auto w-20 lg:w-24 mx-auto sm:mx-0 text-gray-500" />
        </div>
      </div>
      <!-- End Clients -->
    </div>
    <!-- End Col -->

    <div class="relative ml-4">
      <Image loading="eager" class="w-full rounded-md" src={heroImage} alt="Image Description" />
      <div
        class="absolute inset-0 -z-[1] bg-gradient-to-tr from-gray-200 via-white/0 to-white/0 w-full h-full rounded-md mt-4 -mb-4 mr-4 -ml-4 lg:mt-6 lg:-mb-6 lg:mr-6 lg:-ml-6"
      >
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hero -->
