---
import { Image } from "astro:assets";
import logo from "../assets/logo_transparent.png";

const url = Astro.url.pathname;
console.log(url);
---

<header
  class="bg-white-100 z-50 flex w-full flex-wrap border-b border-gray-200 bg-white bg-opacity-95 py-2 text-sm backdrop-blur-lg backdrop-filter sm:flex-nowrap sm:justify-start"
>
  <nav class="mx-auto w-full max-w-[85rem] px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" aria-label="Global">
    <div class="flex items-center justify-between">
      <a class="inline-flex items-center gap-x-1 text-xl font-semibold sm:text-2xl" href="/">
        <Image class="h-auto w-32 sm:w-36" src={logo} alt="Logo" />
      </a>
      <div class="sm:hidden">
        <button
          type="button"
          class="hs-collapse-toggle inline-flex items-center justify-center gap-2 rounded-md border bg-white p-2 align-middle text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#543BC4] focus:ring-offset-2 focus:ring-offset-white"
          data-hs-collapse="#navbar-image-and-text-2"
          aria-controls="navbar-image-and-text-2"
          aria-label="Toggle navigation"
        >
          <svg class="h-4 w-4 hs-collapse-open:hidden" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            ></path>
          </svg>
          <svg class="hidden h-4 w-4 hs-collapse-open:block" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div id="navbar-image-and-text-2" class="hs-collapse hidden grow overflow-hidden transition-all duration-300 sm:block">
      <div class="mt-5 flex flex-col gap-6 text-lg tracking-wide sm:mt-0 sm:flex-row sm:items-center sm:justify-end sm:pl-5">
        <a class="font-medium text-gray-800 hover:text-gray-600" href="/" aria-current={url === "/" ? "page" : null}>Home</a>
        <a class="font-medium text-gray-800 hover:text-gray-600" href="/about" aria-current={url === "/about" ? "page" : null}>About</a>
        <a class="font-medium text-gray-800 hover:text-gray-600" href="/services" aria-current={url === "/services" ? "page" : null}>Services</a>
        <a class="font-medium text-gray-800 hover:text-gray-600" href="/contact" aria-current={url === "/contact" ? "page" : null}>Contact</a>
      </div>
    </div>
  </nav>
</header>

<style>
  [aria-current] {
    font-weight: bold;
  }
</style>
