<!-- Hero -->
<div class="relative overflow-hidden">
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="block text-3xl font-bold text-gray-800 sm:text-3xl md:text-4xl">How does TMS Work?</h2>
      <!-- <p class="mt-3 text-lg text-gray-800">Revolutionizing Mind Care: Experience the TMS Difference.</p> -->
    </div>

    <div class="relative mx-auto mt-10 max-w-5xl">
      <iframe
        width="560"
        height="550"
        src="https://www.youtube.com/embed/pdChE7USKdU?si=3rySg4I27HGqVr5x"
        title="TMS In Depth"
        style="border:0;"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="aspect-video w-full border-none"></iframe>
    </div>
  </div>
</div>
<!-- End Hero -->
